body{
    font-family:"Times New Roman";
    background:#f9f9f9;
    padding:20px;
}

.container{
    width:800px;
    margin:auto;
    background:white;
    padding:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#e6f2ff;
}

th,td{
    border:1px solid #000;
    padding:8px;
}

th{
    font-family:Arial;
    font-size:14pt;
    background:#4a90e2;
    color:white;
}

td{
    font-size:12pt;
}

tr:nth-child(odd){
    background:#ffffe0;
}

tr:nth-child(even){
    background:#e0f7fa;
}

ol{
    font-family:Arial;
    background:#e6f2ff;
    padding:15px;
}

a{
    display:inline-block;
    margin-top:10px;
}
